{
  "globals": {
    "document": true,
    "window": true,
    "localStorage": true
  },
  "extends": [
    "plugin:flowtype/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "flowtype", "jest"
  ],
  "rules": {
    "indent": ["error", 2],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/require-default-props": 0,
    "import/prefer-default-export": 0,
    "object-curly-newline": 0,
    "class-methods-use-this": 0,
    "react/sort-comp": 0,
    "jsx-a11y/label-has-for": 0,
    "function-paren-newline": 0,
    "no-param-reassign": 0,
    "no-shadow": 0,
    "no-unused-expressions": 0,
    "import/no-named-as-default": 0
  },
  "env": {
    "jest": true
  }
}
