{
  "globals": {
    "document": true
  },
  "extends": [
    "plugin:flowtype/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "flowtype", "jest"
  ],
  "rules": {
    "indent": ["error", 2],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/require-default-props": 0,
    "import/prefer-default-export": 0,
    "object-curly-newline": 0,
    "class-methods-use-this": 0,
    "react/sort-comp": 0,
    "jsx-a11y/label-has-for": 0
  },
  "env": {
    "jest": true
  }
}